<header>
  <div class="a">
    <a href="/delivery" class="back">
      <img src="../../../../assets/icons/left-arrow.png" />
    </a>
  </div>
  <div class="b">
    <h2>Информация о заявке {{order.name}}</h2>
  </div>
</header>
<!-- <a (click)="clickBack()">Назад</a> -->
<section>
  <h2>Данные о грузе</h2>
  <div>
    <label>Тип груза: </label>{{order.type}}
  </div>
  <div>
    <label for="order.name">Название груза: </label>
    <input type="text" id="order.name" value="{{order.name}}" [(ngModel)]="order.name"/>
  </div>
  <p>
    <ngb-alert *ngIf="isControlInvalid('order.name')">
      <strong>Ошибка!</strong> Проверьте корректность ввода. (A-z, А-я, 0-9, -)
    </ngb-alert>
    <br />
  </p>

  <section *ngIf="order.type !== 'Наливной' else Navalochnyy">
    <div>
      <label>Габариты груза: </label>{{order.length}} x {{order.width}} x {{order.height}} м
    </div>
  </section>
  <div>
    <label>Вес груза: </label>{{order.weight}} кг
  </div>
  <div>
    <label>Количество груза: </label>{{order.amount}}
    <container-element [ngSwitch]="order.type">
      <ng-template ngSwitchCase="Штучный"> шт.</ng-template>
      <ng-template ngSwitchCase="Навалочный"> тар.</ng-template>
      <ng-template ngSwitchCase="Наливной"> куб. м. (объем)</ng-template>
    </container-element>
  </div>
</section>

<section>
  <h2>Направление</h2>
  <div>
    <label>Точка отправления: </label>{{startPoint.country}}/{{startPoint.city}}
  </div>
  <div>
    <label>Точка прибытия: </label>{{endPoint.country}}/{{endPoint.city}}
  </div>
  <div>
    <label>Дата отправления груза: </label>{{order.date}}
  </div>
</section>

<section>
  <h2>Дополнительные услуги</h2>
  <div *ngIf="status === 'Обрабатывается' || status === 'Договор'; else OtherStatus">
    <div>
      <input type="checkbox" id="order.isContainer" [checked]="order.isContainer" [(ngModel)]="order.isContainer"/>
      <label for="order.isContainer">Защитная транспортировочная упаковка</label>
    </div>
    <div>
      <input type="checkbox" id="order.isDocuments" [checked]="order.isDocuments" [(ngModel)]="order.isDocuments"/>
      <label for="order.isDocuments">Перевозка сопроводительных документов</label>
    </div>
  </div>
  <ng-template #OtherStatus>
    <div>
      <input type="checkbox" id="order.isContainer" [checked]="order.isContainer" [(ngModel)]="order.isContainer" disabled/>
      <label for="order.isContainer">Защитная транспортировочная упаковка</label>
    </div>
    <div>
      <input type="checkbox" id="order.isDocuments" [checked]="order.isDocuments" [(ngModel)]="order.isDocuments" disabled/>
      <label for="order.isDocuments">Перевозка сопроводительных документов</label>
    </div>
  </ng-template>
  
</section>

<div *ngIf="submitted">
    <p>
        Изменения внесены в заявку!
          </p>
</div>

<div>
  <button (click)="Save()">Сохранить</button>
  <button (click)='Delete()'>Удалить</button>
  <a [routerLink]="['./routes', order.id_order]"  routerLinkActive="active">Список маршрутов</a>
</div>

<div>
  <p>
    {{order | json}}
  </p>
</div>