/* #projects {
    background-color: #7D6342;
    padding: 30px 1em;
    color: #FDA43A;
}

#projects > h2 {
    text-align: center;
    font-size: 33.5px; 
    padding: .5em 0 1em 0;
} */

a {
    color: #FDA43A;
    padding: 0px .25em; 
    
    display: inline-block;

    line-height: 1.5;
    text-decoration:none;
    cursor: pointer;
}

a:after {
    background-color: #FDA43A;
    display: block;
    content: "";
    height: 5px;
    width: 0%;
    transition: width .3s ease-in-out;
}
a:hover:after,
a:focus:after {
    width: 100%;
}

/* .projects-table {
    padding: 0em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5vw;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
 
} */

.project-tile {
    background-color: #7D521D;
    text-align: center;
}

.code {
    color: #7D521D;
    transition: color 0.3s ease-out;
}

.project-tile:hover .code {
    color: #FDA43A;
}

a > p {
    display: block;
    padding: 0 0 1em 0;
    font-size: 20px;
 
}

#project-a {
    padding: 0px;
    width: 100%;
}

img {
    padding: 2em;
    width: 40%;
    height: 40%;
}