<table>
  <tr>
    <td>№</td>
    <td>Тип</td>
    <td>Название</td>
    <td>Максимальный объем перевозки, куб. м</td>
    <td>Грузоподъемность</td>
    <td>Стоимость, $</td>
    <td *ngIf="isAdmin"></td>
    <td *ngIf="isAdmin"></td>
  </tr>
  <tr *ngFor="let transport of transports; let i = index">
    <td>{{i + 1}}</td>
    <td>{{transport.type_delivery}}</td>
    <td>{{transport.name}}</td>
    <td>{{transport.max_volume}}</td>
    <td>{{transport.max_weight}}</td>
    <td>{{transport.price}}</td>
    <td *ngIf="isAdmin"><a (click)="changeOrAdd(transport)">Изменить</a></td>
    <td *ngIf="isAdmin"><a (click)="delete(transport.id_transport)">Удалить</a></td>
  </tr>
</table>