<div class="container">
  <div class="wrapper">
      <form [formGroup]="myFirstReactiveForm" class="form" (submit)="onSubmit()">

          <section class="data">
            <h2>Данные о грузе</h2>
            <div class="form-group-data">
              <label for="type" class="form-label">Тип груза</label>
              <select id="type" class="form-input" style="width: 52%;" formControlName="type">
                <option disabled>Выберите тип груза</option>
                <option value="Штучный">Штучный</option>
                <option value="Навалочный">Навалочный</option>
                <option value="Наливной">Наливной</option>
              </select>
            </div>
            <div class="form-group-data-error">
              <label for="name" class="form-label">Название груза</label>
              <input type="text" id="name" class="form-input width-70" style="width: 50%;" formControlName="name" maxlength="25" />
              <div class="form-error width-70">
                <ngb-alert *ngIf="isControlInvalid('name')">
                  <strong>Ошибка!</strong> Проверьте корректность ввода. (A-z, А-я, 0-9, -)
                </ngb-alert>
              </div>
            </div>
          </section>
      
          <section class="dimensions">
            <section *ngIf="myFirstReactiveForm.controls['type'].value !== 'Наливной' else Navalochnyy">
              <h2>Габариты груза, м</h2>
              <div class="form-group">
                <label for="length" class="form-label">Длина груза</label>
                <input type="text" id="length" class="form-input size" formControlName="length" />
              </div>
              <div class="form-group">
                <label for="width" class="form-label">Ширина груза</label>
                <input type="text" id="width" class="form-input size" formControlName="width" />
              </div>
              <div class="form-group">
                <label for="height" class="form-label">Высота груза</label>
                <input type="text" id="height" class="form-input size" formControlName="height" />
              </div>
            </section>
      
            <div class="form-group">
              <label for="weight" class="form-label">Вес груза, кг</label>
              <input type="text" id="weight" class="form-input size" formControlName="weight" />
            </div>
            <div class="form-group-amount">
              <label for="amount" class="form-label">Количество груза</label>
              <div class="form-input-amount">
                <input type="text" id="amount" class="size" formControlName="amount" />
                <container-element [ngSwitch]="myFirstReactiveForm.controls['type'].value">
                  <ng-template ngSwitchCase="Штучный"> шт.</ng-template>
                  <ng-template ngSwitchCase="Навалочный"> тар.</ng-template>
                  <ng-template ngSwitchCase="Наливной"> куб. м.  (объем)</ng-template>
                </container-element>  
              </div>     
            </div>
      
          </section>
      
          <section class="route">
            <h2>Направление</h2>
            <div class="form-group">
              <label for="startPoint" class="form-label">Точка отправления</label>
              <select id="startPoint" class="form-input" formControlName="startPoint">
                <option disabled>Выберите точку отправления</option>
                <option *ngFor="let point of points" value={{point.id_point}}>{{point.country}}/{{point.city}}</option> 
              </select>
            </div>
            <div class="form-group">
              <label for="endPoint" class="form-label">Точка прибытия</label>
              <select id="endPoint" class="form-input" formControlName="endPoint">
                <option disabled>Выберите точку прибытия</option>
                <option *ngFor="let point of points" value={{point.id_point}}>{{point.country}}/{{point.city}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="date" class="form-label">Дата отправления груза</label>
              <input type="date" id="date" class="form-input" formControlName="date" />
            </div>
          </section>
      
          <section class="add">
            <h2>Дополнительные услуги</h2>
            <div class="form-group-add">
              <input type="checkbox" id="isContainer" class="form-input-add" formControlName="isContainer" />
              <label for="isContainer" class="form-label">Защитная транспортировочная упаковка (5$ шт.)</label>
            </div>
            <div class="form-group-add">
              <input type="checkbox" id="isDocuments" class="form-input-add" formControlName="isDocuments" />
              <label for="isDocuments" class="form-label">Перевозка сопроводительных документов (3$)</label>
            </div>
            <div class="form-group-add">
              <input type="checkbox" id="stack" class="form-input-add" formControlName="stack" />
              <label for="stack" class="form-label">Можно штабилировать</label>
            </div>
            <div class="form-group-add">
              <input type="checkbox" id="express" class="form-input-add" formControlName="express" />
              <label for="express" class="form-label">Экспресс доставка</label>
            </div>
          </section>
      
          <div class="btn">
            <button type="submit" >Отправить</button>
          </div>
          
        </form>
      
        <div [hidden]="!submitted" class="submitted-div">
          <h3>Заявка принята!</h3>
        </div>
  </div>
</div>


