<div class="container">
    <div *ngIf="isLoggedIn; else loggedOut">
      <h1>Добро пожаловать</h1><br/>
        Вы вошли как 
        <container-element [ngSwitch]="roles[0]">
            <ng-template ngSwitchCase="ROLE_CLIENT">Клиент</ng-template>
            <ng-template ngSwitchCase="ROLE_ADMIN">Администратор</ng-template>
            <ng-template ngSwitchCase="ROLE_ANALYST">Аналитик</ng-template>
          </container-element>.
      </div>
       
      <ng-template #loggedOut>
        <div class="template" style="max-width:350px;">
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="username" class="form-label">Логин </label>
              <input type="text" class="form-input" name="username" [(ngModel)]="form.username" #username="ngModel"
                required />
              <div *ngIf="f.submitted && username.invalid" class="form-error">
                <div *ngIf="username.errors.required">Необходимов ввести логин</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="form-label">Пароль </label>
              <input type="password" class="form-input" name="password" [(ngModel)]="form.password" #password="ngModel"
                required minlength="4" />
              <div *ngIf="f.submitted && password.invalid" class="form-error">
                <div *ngIf="password.errors.required">Необходимов ввести пароль</div>
                <div *ngIf="password.errors.minlength">Пароль должен содержать не менее 4 символов</div>
              </div>
            </div>
            <div class="form-btn">
              <button class="btn">Войти</button>
              <div *ngIf="f.submitted && isLoginFailed" class="alert">
                Ошибка входа: {{errorMessage}}
              </div>
            </div>
          </form>
          <hr />
          <p>Нет аккаунта? </p>
          <div>
            <a href="signup" class="btn btn-success">Зарегистрироваться</a>
          </div>
        </div>
      </ng-template>
</div>
