<div class="container">
  <form [formGroup]="transportForm" (submit)="onSubmit()">

    <section>

      <div class="form-group">
        <label for="type_delivery" class="form-label">Тип транспорта</label>
        <select id="type_delivery" class="form-input size" formControlName="type_delivery">
          <option disabled>Выберите тип транспорта</option>
          <option *ngFor="let type of typeDelivery" value={{type.name}}>{{type.name}}</option> 
        </select>
      </div>
      
      <div class="form-group">
        <label for="fuel" class="form-label">Тип топлива</label>
        <select id="fuel" class="form-input size" formControlName="fuel">
          <option disabled>Выберите тип топлива</option>
          <option *ngFor="let f of fuel" value={{f.name}}>{{f.name}}</option> 
        </select>
      </div>
      

      <div class="form-group-error">
        <label for="fuel_consumption" class="form-label">Расход топлива на 100 км: </label>
        <input type="text" id="fuel_consumption" class="form-input size" formControlName="fuel_consumption" maxlength="5" />
        <div class="form-error">
          <ngb-alert *ngIf="isControlInvalid('fuel_consumption')">
            <strong>Ошибка!</strong> Проверьте корректность ввода. (0-9)
          </ngb-alert>
        </div>
      </div>

      <div class="form-group-error">
        <label for="name" class="form-label">Название транспорта</label>
        <input type="text" id="name" class="form-input size" formControlName="name" maxlength="25" />
        <div class="form-error">
          <ngb-alert *ngIf="isControlInvalid('name')">
            <strong>Ошибка!</strong> Проверьте корректность ввода. (A-z, А-я, 0-9, -)
          </ngb-alert>
        </div>
      </div>

      <div class="form-group-error">
        <label for="speed" class="form-label">Средняя скорость, км/ч: </label>
        <input type="text" id="speed" class="form-input size" formControlName="speed" maxlength="3" />
        <div class="form-error">
          <ngb-alert *ngIf="isControlInvalid('speed')">
            <strong>Ошибка!</strong> Проверьте корректность ввода. (0-9)
          </ngb-alert>
        </div>
      </div>
      
      <div class="form-group-error">
        <label for="max_volume" class="form-label">Максимальный объем перевозки, куб м: </label>
        <input type="text" id="max_volume" class="form-input size" formControlName="max_volume" maxlength="10" />
        <div class="form-error">
          <ngb-alert *ngIf="isControlInvalid('max_volume')">
            <strong>Ошибка!</strong> Проверьте корректность ввода. (0-9)
          </ngb-alert>
        </div>
      </div>

      <div class="form-group-error">
        <label for="max_weight" class="form-label">Максимальная грузоподъемность, кг: </label>
        <input type="text" id="max_weight" class="form-input size" formControlName="max_weight" maxlength="20" />
        <div class="form-error">
          <ngb-alert *ngIf="isControlInvalid('max_weight')">
            <strong>Ошибка!</strong> Проверьте корректность ввода. (0-9)
          </ngb-alert>
        </div>
      </div>

      <div class="form-group-error">
        <label for="price" class="form-label">Стоимость, $: </label>
        <input type="text" id="price" class="form-input size" formControlName="price" maxlength="10" />
        <div class="form-error">
          <ngb-alert *ngIf="isControlInvalid('price')">
            <strong>Ошибка!</strong> Проверьте корректность ввода. (0-9)
          </ngb-alert>
        </div>
      </div>

      <div class="form-group-error">
        <label for="coefficient" class="form-label">Коэффициент использования: </label>
        <input type="text" id="coefficient" class="form-input size" formControlName="coefficient" maxlength="5" />
        <div class="form-error">
          <ngb-alert *ngIf="isControlInvalid('price')">
            <strong>Ошибка!</strong> Проверьте корректность ввода. (0-9)
          </ngb-alert>
        </div>
      </div>
    </section>
    <div class="btn">
      <button type="submit">Сохранить</button>
    </div>
    <br/>
  </form>
</div>
