.container {
    background: rgba(212, 205, 205, 0.699);
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 80px 100px 1fr 80px; */
    grid-auto-rows: min-content;
    grid-template-areas: 
    "header header"
    "info info"
    "tab dit"
    "footer footer";
}

.tab {
    padding: 1em;
    grid-area: tab;
}

.dit { 
    padding: 1em;
    grid-area: dit;
}

.header{
    grid-area: header;

    color: #7D6342;
    text-align: center;
    font-weight: 800;
    font-size: 200%;
    padding: 1em 0 .5em 0;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: 1em;
    font-weight: 700;
}

.info {
    grid-area: info;
    padding: 1em;
}

span {
    color: #C9842E;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse; 
    background: #FDC786;
}

td {
    padding: .5em .1em;
}

th {
    padding: 1em 2em;
    background-color: #FDA43A;
}

tbody tr:hover {
    background: #C9842E; 
    cursor: pointer;
}

.route {
    width: 70px;
}

.noActive {
    color: #7D6342;
    text-align: center;
    font-weight: 700;
    font-size: 150%;
    padding: 0 0 1em 0;
}

button {
    background:rgb(238, 238, 238);
    color:#C9842E;
    text-decoration:none;
    width:90px;
    text-align:center;
    padding: .5em;
    transition:all 0.3s;
    border:rgb(238, 238, 238);
    cursor: pointer;
}

button:hover {
    box-shadow:0px -5px 0 #C9842E inset;
}

