<table>
  <tr>
    <td>№</td>
    <td>Страна</td>
    <td>Город</td>
    <td *ngIf="isAdmin"></td>
  </tr>
  <tr *ngFor="let point of points; let i = index">
    <td>{{i + 1}}</td>
    <td>{{point.country}}</td>
    <td>{{point.city}}</td>
    <td *ngIf="isAdmin"><a (click)="Delete(point, i)">Удалить</a></td>
  </tr>
</table>
<div *ngIf="isAdmin">
  <a (click)="Add()">Добавить</a>
</div>

<div *ngIf="isAdd" class="container">
  <form [formGroup]="pointForm" (submit)="onSubmit()">
    <section>
      <div class="form-group-error">
        <label for="country" class="form-label">Название страны</label>
        <input type="text" id="country" class="form-input" formControlName="country" maxlength="25" />
        <div class="form-error">
          <ngb-alert *ngIf="isControlInvalid('country')">
            <strong>Ошибка!</strong> Проверьте корректность ввода. (А-я, -)
          </ngb-alert>
        </div>
      </div>

      <div class="form-group-error">
        <label for="city" class="form-label">Название города</label>
        <input type="text" id="city" class="form-input" formControlName="city" maxlength="25" />
        <div class="form-error">
          <ngb-alert *ngIf="isControlInvalid('city')">
            <strong>Ошибка!</strong> Проверьте корректность ввода. (А-я, -)
          </ngb-alert>
        </div>
      </div>
    </section>
      <button type="submit">Сохранить</button>
  </form>
</div>