.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header header"
    "nav article";
}

nav {
    grid-area: nav;
    font-weight: 600;
}

article {
    grid-area: article;   
}

header {
    grid-area: header;
}

nav > ul {
    position: sticky;
    top: 3.9rem;
    list-style-type: none;
    padding: 1rem;
}

li {
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.nav-link {
    text-decoration:none;
    color: #7D6342;
    line-height: 1.5;
}

.nav-link {
    display: inline-block;
    cursor: pointer;
}

.nav-link:after {
    background-color: #7D6342;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
}

.nav-link:hover:after,
.nav-link:focus:after {
    width: 100%;
}

ul > caption {
    padding-bottom: 1.5rem;
    font-size: 150%;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 33.5px; 
    padding-top: .5em;
    padding-bottom: 2.1rem;
}

.head, caption {
    margin: auto;
    color: #7D6342;
}