<div class="container">

  <header>
    <div class="head">
      <h2>Настройки 
        <container-element [ngSwitch]="roles[0]">
          <ng-template ngSwitchCase="ROLE_CLIENT">клиента</ng-template>
          <ng-template ngSwitchCase="ROLE_ADMIN">администратора</ng-template>
          <ng-template ngSwitchCase="ROLE_ANALYST">аналитика</ng-template>
          <ng-template ngSwitchCase="ROLE_TRANSPORTER">перевозчика</ng-template>
        </container-element>
      </h2>
    </div>
  </header>

  <div class="info">

    <form [formGroup]="userForm" class="userForm" (submit)="Save()">
      <div class="loginData">
        <div class="form-group">
          <label class="form-label" for="username">Логин:</label>
          <span class="form-input">{{user.username}}</span>
          <!-- <input type="text" class="form-input" id="username" value="{{username}}" formControlName="username" />-->
          <div class="form-error"  *ngIf="isControlInvalidUserForm('username')">  
            <ngb-alert>
              <strong>Ошибка!</strong> Проверьте корректность ввода. (A-z, 0-9)
            </ngb-alert>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="email">E-mail:</label>
          <span class="form-input">{{user.email}}</span>
          <!-- <input type="text" class="form-input" id="email" value="{{email}}" formControlName="email"/>-->
          <div class="form-error" *ngIf="isControlInvalidUserForm('email')">
              <ngb-alert>
                <strong>Ошибка!</strong> Проверьте корректность ввода Email.
              </ngb-alert>
            </div> 
        </div>
      </div>
      <div class="persData">
        <div class="form-group">
            <label class="form-label" for="surname">Фамилия:</label>
            <input type="text" class="form-input" id="surname" value="{{surname}}" formControlName="surname" />
            <div class="form-error" *ngIf="isControlInvalidUserForm('surname')">
              <ngb-alert>
                <strong>Ошибка!</strong> Проверьте корректность ввода. (A-z, А-я)
              </ngb-alert>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" for="name">Имя:</label>
            <input type="text" class="form-input" id="name" value="{{name}}" formControlName="name" />
            <div class="form-error"  *ngIf="isControlInvalidUserForm('name')">
              <ngb-alert>
                <strong>Ошибка!</strong> Проверьте корректность ввода. (A-z, А-я)
              </ngb-alert>
            </div>
        </div>
      </div>
      <div *ngIf="submitted" class="submitted-div">
        <div *ngIf="errorUser; else NoError" class="alert">
          Ошибка!<br/>{{errorMessageUser}}
        </div>
        <ng-template #NoError>
            <div class="sub">Данные сохранены успешно</div>
        </ng-template>
      </div>
      <div class="btn-container">
          <button type="submit">Сохранить</button>
      </div>
        
    </form>

    <form [formGroup]="passForm" class="passForm" (submit)="SavePass()">
      <div class="passInput">
        <div class="form-group">
          <label class="form-label" for="oldPassword">Пароль:</label>
          <input type="password" class="form-input input-pass-size" id="oldPassword" 
            value="{{oldPassword}}" formControlName="oldPassword"/>
          <div class="form-error" *ngIf="isControlInvalidPassForm('oldPassword')">
            <ngb-alert>
              <strong>Ошибка!</strong> Проверьте корректность ввода. (A-z, 0-9)
            </ngb-alert>
          </div>
        </div>
        <div class="form-group">
            <label class="form-label" for="newPassword">Новый пароль:</label>
            <input type="password" class="form-input input-pass-size" id="newPassword"
             value="{{newPassword}}" formControlName="newPassword"/>
            <div class="form-error" *ngIf="isControlInvalidPassForm('newPassword')">
              <ngb-alert>
                <strong>Ошибка!</strong> Проверьте корректность ввода. (A-z, 0-9)
              </ngb-alert>
            </div>
        </div>
      </div>
      <div *ngIf="submittedPass" class="sub-pass sub">
        Пароль изменен
      </div>
      <div class="btn-pass">
        <button type="submit">Сохранить</button>
      </div>
            
    </form>

  </div>
 
  <app-table-users *ngIf="roles[0] === 'ROLE_ADMIN'">
    
  </app-table-users>

</div>


<!-- <div class="label-div">
  <label>Количествоя заявок: </label>
  <span>{{user.countOrders}}</span>
</div> -->