<div class="container">

  <header>
    <div class="head">
      <h2>Настройки 
        <container-element [ngSwitch]="roles[0]">
          <ng-template ngSwitchCase="ROLE_CLIENT">клиента</ng-template>
          <ng-template ngSwitchCase="ROLE_ADMIN">администратора</ng-template>
          <ng-template ngSwitchCase="ROLE_ANALYST">аналитика</ng-template>
          <ng-template ngSwitchCase="ROLE_TRANSPORTER">перевозчика</ng-template>
        </container-element>
      </h2>
    </div>
  </header>

  <nav>
    <ul>
      <caption>Меню</caption>
      <li><a [routerLink]="['./profile']" class="nav-link">Профиль</a></li>
      <li *ngIf="roles[0] === 'ROLE_ADMIN'"><a [routerLink]="['./users-list']" class="nav-link">Список пользователей</a></li>
      <li *ngIf="roles[0] === 'ROLE_ADMIN'"><a [routerLink]="['./create-user']" class="nav-link">Добавить пользователя</a></li>
    </ul>
  </nav>
  <article>
    <div [ngSwitch]="this.router.url.substring(9)">
      <div *ngSwitchCase="'/profile'">
        <app-profile></app-profile>
      </div>
      <div *ngSwitchCase="'/users-list'">
        <app-table-users></app-table-users>
      </div>
      <div *ngSwitchCase="'/create-user'">
        <app-create-user></app-create-user>
      </div>
    </div>
  </article>

</div>