.container {
    background: rgba(212, 205, 205, 0.699);
    min-height: 92vh;
}

.wrapper {
    color: #7D6342;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "header header header"
    "route data add"
    "price price price";
}

.header{
    grid-area: header;
    color: #7D6342;
    text-align: center;
    font-weight: 800;
    font-size: 200%;
    padding: 1em 0 .5em 0;
}

.route{
    padding: 1em;
    grid-area: route;
}

.data{
    padding: 1em;
    grid-area: data;
}

.add{
    padding: 1em;
    grid-area: add;
}

.price {
    padding: 1em;
    font-weight: 700;
    font-size: 125%;
    grid-area: price;
}

span {
    color: #C9842E;
}

.segment, .segment-container {
    padding: 1em;
}

.segment-container-all {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-areas: 
    "btn-calculate btn-save btn-remove";
}

.submitted-div {
    grid-area: sub-div;
    padding: 1em;
    text-align: center;
    color: green;
}

.btn-add-segment {
    width: 100%;
}