<div class="container">
    <div>
        <form [formGroup]="segmentForm" (submit)="onSubmit()">
      
          <section>
            <h2>Cегмент маршрута</h2>
            
            <div class="form-group">
              <label for="startPoint" class="form-label">Точка отправления</label>
              <select id="startPoint" formControlName="startPoint">
                <option disabled>Выберите точку отправления</option>          
                <option *ngFor="let point of points" value={{point.id_point}}>{{point.country}}/{{point.city}}</option>
              </select>
            </div>
      
            <div class="form-group">
              <label for="endPoint" class="form-label">Точка прибытия</label>
              <select id="endPoint" formControlName="endPoint">
                <option disabled>Выберите точку прибытия</option>
                <option *ngFor="let point of points" value={{point.id_point}}>{{point.country}}/{{point.city}}</option>
              </select>
            </div>

            <div class="form-group">
            <label for="type_delivery" class="form-label">Тип доставки</label>
            <select id="type_delivery" formControlName="type_delivery">
              <option disabled>Выберите тип доставки</option>
              <option *ngFor="let type of type_deliveres" value={{type.id_type_delivery}}>{{type.name}}</option>
            </select>
            </div>
      
            <div class="form-group">
              <label for="transport" class="form-label">Транспорт</label>
              <select id="transport" formControlName="id_transport">
                  <option disabled>Выберите транспорт</option>
                  <option *ngFor="let transport of transports" value={{transport.id_transport}}>{{transport.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="amount_transport" class="form-label">Количество транспорта</label>
              <input type="text" id="amount_transport" class="form-input size" formControlName="amount_transport" />
            </div>
            
            <div class="form-group">
              <label for="distance" class="form-label">Расстояние, км</label>
              <input type="text" id="distance" class="form-input size" formControlName="distance" />
            </div>

            <div class="tp">
              <p>
                <label for="time">Количество дней, д: </label>{{segmentForm.value.time}} - {{segmentForm.value.time*2}}
              </p>
              <p>
                <label for="price">Цена, $: </label>{{segmentForm.value.price}}
              </p>
            </div>
            
            </section>
      
            <div *ngIf="segment.type_delivery !== undefind" class="submitted-div">
              Сегмент сохранен
            </div>


            <div class="segment-container-all">
              <div class="btn-calculate">
                <button type="button" (click)="calculate()">Рассчитать</button>
              </div>
              <div class="btn-save">
                <button type="button" (click)="save()">Сохранить</button>
              </div>
              <div class="btn-remove">
                <button (click)="removeSegment(index)">Удалить сегмент</button>
            </div>
            </div>

        </form>

      </div>
      
</div>
