/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,600,700&subset=cyrillic');

*{
    margin: 0%;
}

html {
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
}

body {
    font-family: Comfortaa;
}

button {
    background:rgb(238, 238, 238);
    color:#C9842E;
    text-decoration:none;
    display:block;
    width:90px;
    text-align:center;
    padding: .5em;
    transition:all 0.3s;
    border:rgb(238, 238, 238);
    cursor: pointer;
}

button:hover {
    box-shadow:0px -5px 0 #C9842E inset;
}
